@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.h1 {
    font-weight: 700;

    overflow-wrap: break-word;
    text-align: center;

    @media(max-width:190px){
        word-break: break-all;
    }
}

.subtitle {
    font-weight: 300;

    overflow-wrap: break-word;
    text-align: center;

    @media(max-width:190px){
        word-break: break-all;
    }
}

.search-legend {
    font-weight: 500;

    overflow-wrap: break-word;
    text-align: center;
    color: gray;

    @media(max-width:190px){
        word-break: break-all;
    }
}

p {
    overflow-wrap: break-word;
}

.sm-hide{
    @media(max-width: 500px){
        display: none;
    }
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fa6c6c;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}